# Originally copied from kohya-ss/sd-scripts
# https://github.com/kohya-ss/sd-scripts/blob/2a23713f71628b2d1b88a51035b3e4ee2b5dbe46/requirements.txt
accelerate==0.23.0
transformers==4.30.2
diffusers[torch]==0.21.2
ftfy==6.1.1
albumentations==1.3.0
opencv-python==4.8.1.78
einops==0.6.0
pytorch-lightning==1.9.0
bitsandbytes==0.41.1
tensorboard==2.10.1
safetensors==0.3.1
# gradio==3.16.2
altair==4.2.2
easygui==0.98.3
toml==0.10.2
voluptuous==0.13.1
huggingface-hub==0.15.1
# for BLIP captioning
requests==2.32.2
timm==0.6.12
fairscale==0.4.13
# for WD14 captioning (tensorflow)
tensorflow==2.10.1
# for WD14 captioning (onnx)
# onnx==1.14.1
# onnxruntime-gpu==1.16.0
# onnxruntime==1.16.0
# this is for onnx: 
# protobuf==3.20.3
# open clip for SDXL
open-clip-torch==2.20.0

# PyTorch
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.2+cu118
torchvision==0.16.2+cu118
xformers==0.0.23.post1
lion-pytorch
dadaptation

# Additional bundle
# https://github.com/KohakuBlueleaf/LyCORIS
lycoris-lora
